{% extends 'myapp/base.html' %}
{% load static %}
{% block title %} Create a New Worked-Out Example {% endblock %}
{% block content %}
    <div class="header-section" xmlns="http://www.w3.org/1999/html">
        <nav class="navigation">

            <a href="{% url 'index' %}">Home</a> ›
            <a href="{% url 'expert' %}">Be an Expert</a> >
            <a href="">Create a NEW Worked-Out Example</a>
        </nav>
        <p class="welcome">Good morning/afternoon/night, Username</p>
    </div>
    <form method="post" action="{% url 'new_workout' %}">
        <div class="container">
            <div class="left-panel">
                <div class="form-section">
                    <div>
                        <label data-target="problem-background">Problem Background</label>
                        <label data-target="data-section">Data</label>
                        <label data-target="solution-section">Solution</label>
                        <label data-target="self-review-section">Self-Review</label>
                    </div>
                </div>
                <div id="problem-background" class="content-Section">
                    <h2>Problem Context and Description</h2>
                    <label>Topics Practiced in this worked-out example</label>
                    <label>
                        <select>
                            <option>Basic PL/SQL</option>
                            <option>Function</option>
                            <option>Procedure</option>
                            <option>Triggers and Constraints</option>
                            <option>Others</option>
                        </select>
                    </label>

                    <label>Problem Context</label>
                    <label>
                        <textarea placeholder="Define the context of your worked-out example here."></textarea>
                    </label>

                    <label>Problem Description</label>
                    <label>
                        <textarea placeholder="Describe the problem of your worked-out example here."></textarea>
                    </label>
                </div>
                <div id="data-section" class="content-Section">
                   <h2>Data Tables</h2>
                    <!--  <label>Input Data</label>
                    <label>
                        <textarea placeholder="Define the input data of your worked-out example here."></textarea>
                    </label>

                    <label>Output Data</label>
                    <label>
                        <textarea placeholder="Define the output data of your worked-out example here."></textarea>
                    </label> -->
                    <div id="datatable1">
                        <label id="data">Data Table #1: </label> 
                        <textarea id="tablename">Enter the name for your first data table</textarea>
                        <table id="myTable">
                            <th>Attribute Name</th>
                            <th>Attribute Type</th>
                            <tr>
                            <form id = "myform">
                                <td><input type="text" id="aname" name="aname" value=""></td>
                                <td> <input type="text" id="atype" name="atype" value=""></td>
                            </form>
                            </tr>
                        </table>
                        <br>
            
                        <button onclick="myCreateFunction('myTable','aname','atype','myform')">Create row</button>
                        <button onclick="myDeleteFunction('myTable')">Delete row</button>
                    </div>
                
                    <div id="datatable1">
                        <label id="data">Data Table #2: </label>
                        <textarea id="tablename">Enter the name for your second data table</textarea>
                        <table id="myTable2">
                            <th>Attribute Name</th>
                            <th>Attribute Type</th>
                            <tr>
                            <form id = "myform2">
                                <td><input type="text" id="aname2" name="aname" value=""></td>
                                <td> <input type="text" id="atype2" name="atype" value=""></td>
                            </form>
                            </tr>
                        </table>
                        <br>
            
                        <button onclick="myCreateFunction('myTable2','aname2','atype2','myform2')">Create row</button>
                        <button onclick="myDeleteFunction('myTable2')">Delete row</button>
                    </div>
                </div>
                <div id="solution-section" class="content-Section">
                    <h2>Solution</h2>
                    <!-- <label>SQL Code</label>
                    <label>
                        <textarea placeholder="Write the SQL code of your worked-out example here."></textarea>
                    </label>

                    <label>Explanation</label>
                    <label>
                        <textarea placeholder="Explain the SQL code of your worked-out example here."></textarea>
                    </label> -->
                    <div id="datatable1">
                        <label id="solution">List your step-by-step solutions below: </label> 
                        <table id="myTable">
                            <th>Step Number</th>
                            <th>Step Description</th>
                            <th>Suggested Codes</th>
                            <tr>
                            <form id = "myform">
                                <td><input type="number" id="snumber" name="snumber" value=""></td>
                                <td><input type="text" id="sdescription" name="sdescription" value=""></td>
                                <td> <input type="text" id="scode" name="scode" value=""></td>
                            </form>
                            </tr>
                        </table>
                        <br>
            
                        <button onclick="myCreateFunction('myTable','aname','atype','myform')">Create row</button>
                        <button onclick="myDeleteFunction('myTable')">Delete row</button>
                    </div>
                </div>
                <div id="self-review-section" class="content-Section">
                    <h2>Self-Review</h2>
                    <label>Difficulty Level</label>
                    <label>
                        <select>
                            <option>Easy</option>
                            <option>Medium</option>
                            <option>Hard</option>
                        </select>
                    </label>

                    <label>Time Taken</label>
                    <label>
                        <input type="text" placeholder="Time taken to solve the problem">
                    </label>

                    <label>Rating</label>
                    <label>
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </label>
                </div>

                <div class="help-panel">
                    <h2>Need Help?</h2>
                    <p>Intentionally left blank for later implementation of ChatGPT</p>
                </div>
            </div>
        </div>
        <div class="center">
            {% csrf_token %}
            <input type="submit" value="Cancel and Exit">
            <input type="submit" value="Save and Exit">
            <input type="submit" value="Save and Submit">
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        const labels = document.querySelectorAll('.form-section label');
        labels.forEach(label => {
            label.addEventListener('click', () => {
                const target = label.getAttribute('data-target');
                const contentSections = document.querySelectorAll('.content-Section');
                contentSections.forEach(section => {
                    if (section.id === target) {
                        section.style.display = 'block';
                    } else {
                        section.style.display = 'none';
                    }
                });
            });
        });
        //Let user enter inputs and add rows for data tables
        function myCreateFunction(tablename,fname,lname,myform) {
            var table = document.getElementById(tablename);
            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            cell1.innerHTML = document.getElementById(fname).value;
            cell2.innerHTML = document.getElementById(lname).value;
            document.getElementById(myform).reset();
        }
        function myDeleteFunction(tablename) {
            var table = document.getElementById(tablename);
            var rowCount = table.rows.length;
            if (rowCount >=2){
            document.getElementById(tablename).deleteRow(rowCount-1);
            }
  	
        }
    </script>
{% endblock %}